.hello {
    color: green;
    font-size: 30px;
}
.txt {
    font-size: 28px;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    color: #8C9FAD;
    color: red;
}
